# Scrap US history timeline

In [81]:
# Imports of the respective libraries
import requests
import pandas as pd
from bs4 import BeautifulSoup

# Convert HTML table to a list of lists for each row
# so as to easily load the same pandas dataframe.

def generate_raw_table(html_table):
    table = []    
    year, date, event = None, None, None
    # find all rows from the table
    for row in html_table.find_all('tr'):
        r=[]        
        # find all columns from the row
        for col in row.find_all('td'):
            
            # remove extra spaces from cell value
            cell = col.text.strip()
            
            # if the text is of 4 chars, store it as year if it's an integer 
            if len(cell) == 4:  
                try:
                    # distinguish between 1901 and July
                    year = int(cell)
                except:
                    pass
            # HTML date column has values like July 21, May–June, Mid-October
            # so split and convert the same in correct format
            elif 4 < len(cell) < 13:                
                if cell.startswith('Mid'):
                    date = cell.split('-')[1] + ' 15'
                else:
                    date = cell.split('–')[0]
            
            # to pick up the description (Event Col)
            elif len(cell) > 13:                
                # To remove text like [12][33][87] from the end.
                event = '.'.join(s for s in cell.split('.')[:-1])                
            else:
                continue
        
        # if we have got all the values then convert it into a list of 2 values
        if all([year, date, event]): 
            event_date = str(year) +' '+ date + ' 00:00:00'
            
            r.append([event_date, event])
            
        # extend parent table list with above rows. 
        if r:
            table.extend(r)
    return table

# Create dataframe with Event Date and Event as 2 coloumns
def create_dataframe_from_raw_table(raw_table):
    df = pd.DataFrame(raw_table, columns=['Event Date', 'Event'])    
    return df

# Combine the dataframes at a time
# and convert datetime 'string' to 'datetime' type
def combine_dataframes(df0, df1):
    df = df0.append(df1, ignore_index=True)    
    df['Event Date'] = pd.to_datetime(df['Event Date'])
    return df

# main():  the first function and it holds the flow of the script.
def main():
    url = 'https://en.wikipedia.org/wiki/Timeline_of_United_States_history'
    # To get the (HTML) text of the static webpage.
    res = requests.get(url).text
    soup = BeautifulSoup(res,'lxml')
    
    # Get all tables from the HTML text
    html_table = soup.find_all('table',{'class':'wikitable'})    
    
    # Since all tables follow common structure, so we selected our table of
    # interest by giving the index of that table.
    # 11- for table for 20th century
    #raw_table = generate_raw_table(html_table[11])    
    
    # convert above raw table to a pandas dataframe
   #df_20 = create_dataframe_from_raw_table(raw_table)
    
    # 12- for table for 21st century
    #raw_table = generate_raw_table(html_table[12]) 
    
    #13 - for table for rest of 21st century
    raw_table = generate_raw_table(html_table[13])
    
    # convert above raw table to a pandas dataframe
    df_21 = create_dataframe_from_raw_table(raw_table)        
    
    # return both the dataframes
    #return df_20, df_21
    return df_21

df0, df1 = main()

# Combine the dataframes for 20th and 21st century to one.
#df = pd.DataFrame(combine_dataframes(df0, df1))
df['Event Date'] =pd.to_datetime(df['Event Date'])
#df.tail(10)
df=pd.DataFrame(main())
df.tail(5)

,Event Date,Event
86,2017 December 22 00:00:00,The Tax Cuts and Jobs Act of 2017 is signed in...
87,2018 January 13 00:00:00,The Hawaii Emergency Management Agency announc...
88,2018 January 23 00:00:00,An 8.0-magnitude earthquake took place near th...
89,2018 February 4 00:00:00,The Philadelphia Eagles claim victory in the S...
90,2018 February 14 00:00:00,A school shooting took place at Marjory Stonem...

In [84]:
df['Event Date'] =pd.to_datetime(df['Event Date'])
df.head(5)

  Event Date                                              Event
0 2001-01-20  First inauguration of George W. Bush: George W...
1 2001-06-07  The Economic Growth and Tax Relief Reconciliat...
2 2001-06-11  Timothy McVeigh is executed as an American dom...
3 2001-09-11  September 11 terrorist attacks: Nineteen terro...
4 2001-09-18  2001 Anthrax attacks: Anthrax attacks killed f...

In [85]:
# Import dataframe into MySQL

import sqlalchemy
from sqlalchemy import create_engine
kwargs = dict(
username = 'root',
password = '1942bdla',
database_ip = 'localhost',
database_name = 'history',
)

from sqlalchemy import create_engine
#engine = create_engine("mysql+pymysql://root:"+'password'+"@localhost/ecommercedb")

conn_string = "mysql+pymysql://{username}:{password}@{database_ip}/{database_name}".format(**kwargs)
engine = create_engine(conn_string)
df.to_sql(con=engine, if_exists='replace', index=False,name='us_history_timeline')

C:\Users\brndn\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, but will be an alias for UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  result = self._query(query)